// design color schemes from https://designschool.canva.com/blog/website-color-schemes/


$white:   #FFFFFF;
// neon color scheme
$void:    #0E0B16;
$fuschia: #A239CA;
$jewel:   #4717F6;
$stark:   #E7DFDD;




.centered {
  width:800px;
  margin:0 auto;

}

.void {
  background-color: $void;
}
.fuschia {
  background-color: $fuschia;
}
.jewel {
  background-color: $jewel;
}
.stark {
  background-color: $stark;
}

/* Warm and bold
$black:  #000000;
$ink:    #062F4F;
$posy:   #813772;
$embers: #B82601;
*/
