<hr/>



<footer>
  Copyright © 2017 Chu Sik Jang. All rights reserved.
  <section>
      <div style="text-align: center; padding-bottom: 2%;">
          <ul id="social">
              <li>
                  <a class="social-i" href="https://www.google.com" target="_blank">
                      <i><%= icon('instagram') %> </i> 
                  </a>
              </li>
              <li>
                  <a class="social-i" href="https://www.google.com" target="_blank">
                      <i><%= icon('linkedin-square') %> </i>
                  </a>
              </li>
              <li>
                  <a class="social-i" href="https://www.google.com" target="_blank">
                     <i>  <%= icon('github') %> </i>
                  </a>
              </li>
          </ul>
      </div>
  </section>
</footer>
<% if false %>
  some icons to social media
<% end %>
