<header>
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;">
    <ul class="nav navbar-nav navbar-left">
      <li id="header_name"> <%= link_to "David Jang", home_index_path %> </li>
    </ul>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li>  <%= link_to "Blog", posts_path %> </li>
          <li> <%= link_to "Placeholder", posts_path %> </li>
      </ul>
    </div>
  </nav>

</header>
